.card-wrapper {
  margin-top: 1em;
  background: white;
  padding: 1em 1em 0 1em;
  border-radius: .25em;
  box-shadow: 1px 1px 10px #757575;
}

.card__img-container {
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin-right: 2em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-radius: .25em;
}

.card__header {
  font-weight: 600;
  color: #212121;
}

.card__header--color:hover {
  background: #3CA55C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B5AC49, #3CA55C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__details {
  margin-right: 1em;
}

.card__details--span {
  font-family: Alegreya;
  color: #259A35;
}

.button--spacing {
  margin-bottom: 1em;
}

.icon--main-style {
  margin-right: .3em;
  font-size: 2em;
  color: #259A35;
}

/* - - - HELPERS - - - */

.flex-helper-column {
  display: flex;
  flex-direction: column;
}

.flex-helper-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.flex-helper-row--spacing {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: .3em;
  margin-bottom: .3em;
}

/* - - - ANIMATION - - - */

.anim-fa-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* - - - MEDIA QUERIES - - - */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

@media only screen and (max-device-width: 577px) {
  .card-wrapper {
    margin: 1em 1em 0 1em;
  }
  .flex-helper-row {
    flex-direction: column;
  }
  .card__details {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 200;
  }
  .flex-helper-row--spacing {
    margin-top: .6em;
    margin-bottom: .6em;
  }
  .card__header {
    font-size: 1.4em;
  }
  .media {
    flex-direction: column;
  }
  .card__img-container {
    height: 150px;
    width: 100%;
    overflow: hidden;
    margin-right: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-radius: .25em;
  }
}