.title:hover{
  background: #3CA55C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600; 
}

.buttonStyle{
  margin-bottom: 1em;
}

.anim-fa-in{
  animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}