.recipe-main__wrapper {
  padding: 100px 0 50px 0;
  min-height: 100vh;
  background: white;
}

.recipe-main__back-link {
  font-family: 'Alegreya', serif;
  color: #259A35;
  font-size: 1.7em;
  font-style: italic;
  margin: 1em;
}

.recipe-main__title{
  background: #3CA55C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600; 
}

.author--quote-span{
  font-family: 'Alegreya', serif;
  color: #259A35;
  font-style: italic;
}

.top-window__wrapper{
  margin-bottom: 2em;
}

.top-window__img{
  width: 100%;
  height: auto;
  border-radius: .25em;
}

.top-window__recipe-sum{
  font-size: 1em;
  line-height: 1.4em;
}

.recipe-main__badges{
  margin: 0 0 2em 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.4em;
  font-family: 'Alegreya', serif;
}

.recipe-main__card{
  margin: 1em 0 1em 0;
  min-height: 200px;
}

.card__body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.card__title{
  margin: 0;
  font-size: 1em;
}

.recipe-instruction__list-item {
  border: none;
}

.list-item__list-badges--size {
  font-size: 1em;
}

/* - - - HELPERS - - - */

.make-flex-row{
  display: flex;
  flex-direction: row;
}


/* - - -  ANIMATIONS - - -  */

.anim-fa-in{
  animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

