@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i');

body{
  background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1,h2,h3,h4,h5,a{
  font-family: 'Nunito', sans-serif;
}

p{
  font-family: 'Alegreya', serif;
}

a:hover{
  color: #212121;
  text-decoration: none;
}
